@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  box-sizing: border-box !important;
  padding: 0 !important;
  font-family: "Poppins" !important;
  letter-spacing: 0.5px !important;
}
